<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>扫码得到红包</title>
    <link rel="stylesheet" href="../../../../assets/bootstrap/css/bootstrap.min.css">
    <script src="../../../../assets/bootstrap/js/bootstrap.js"></script>
    <script src="../../../../assets/plugins/jquery-1.11.1.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
<div class="modal-body no-p">
    <div class="row">
        <div class="col-xs-12">
            <section class="panel panel-primary no-b">

                <div class="list-group">
                    <table class="table table-bordered table-striped mg-t datatable">
                        <tbody>
                        <tr>
                            <td>信息</td><td>${msg2}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </section>

        </div>
    </div>
</div>
<input type="hidden" id="qrcode_id" value="${msg2!}">
<div style="width:200px;height:300px;margin: 10% auto">
    <div id="success_share" hidden><h3>分享成功</h3></div>
    <div id="cancel_share" hidden><h3>取消分享</h3></div>
    <div id="fail_share" hidden><h3>分享失败</h3></div>
</div>
<script>
    $().ready(function () {
        //初始化js_sdk
        initPage();
    });
    //加载微信分享的接口
    function initPage() {
        var urlTemp = location.href.split('#')[0];
        var jsonData;
        var id = $("#qrcode_id").val();
        $.ajax({
            type: "POST",
            url: "${base}/open/scan/share/configs/" + id,
            data:{ urlTemp : urlTemp },
            dataType: "json",
            async: false,
            success: function (data) {
                //json字符串转换为json对象
                jsonData = JSON.parse(data);
            }
        });
        //appid 取不出来，区分大小写,jsApiList中的中括号要舍弃
        wx.config({
            appId: jsonData.appId,
            timestamp: jsonData.timestamp,
            nonceStr: jsonData.nonceStr,
            signature: jsonData.signature,
            jsApiList: jsonData.jsApiList
        });
        var titleTemp = '扫二维码得红包';// 分享标题
        var descTemp = '关注公众号扫二维码得红包';// 分享描述
        // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致,且要根据对应的情况改变
        var linkTemp = urlTemp.split("/o",1) + "/o/s/" + id;
        // 分享图标 图标已经在本地数据库中
        var imgUrlTemp = urlTemp.split("/o",1) + "/assets/img/scan/share.jpg";
        wx.ready(function () {
            //分享给微信好友
            wx.onMenuShareAppMessage({
                title: titleTemp,
                desc: descTemp,
                link: linkTemp,
                imgUrl: imgUrlTemp,
                success: function () {
                    $("#success_share").show();
                },
                cancel: function () {
                    $("#cancel_share").show();
                }
            });
            //分享到朋友圈
            wx.onMenuShareTimeline({
                title: titleTemp,
                link: linkTemp,
                imgUrl: imgUrlTemp,
                success: function () {
                    $("#success_share").show();
                },
                cancel: function () {
                    $("#cancel_share").show();
                }
            });
            //分享到qq空间
            wx.onMenuShareQZone({
                title: titleTemp,
                desc: descTemp,
                link: linkTemp,
                imgUrl: imgUrlTemp,
                success: function () {
                    $("#success_share").show();
                },
                cancel: function () {
                    $("#cancel_share").show();
                }
            });
            //分享给qq好友
            wx.onMenuShareQQ({
                title: titleTemp,
                desc: descTemp,
                link: linkTemp,
                imgUrl: imgUrlTemp,
                success: function () {
                    $("#success_share").show();
                },
                cancel: function () {
                    $("#cancel_share").show();
                }
            });
        });
        wx.error(function () {
            $("#fail_share").show();
        });
    }

</script>
</body>
</html>